{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/register.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}

    <div class="container container-small">
        <h1 id="registration-header">Rejestracja w serwisie FoodRank</h1>
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.termsAccepted) }}
        <button type="submit" class="btn btn-primary btn-block">Utwórz konto</button>
        {{ form_end(form) }}
    </div>
{% endblock %}