{% extends 'base.html.twig' %}
{% set menu_selected = 'ranking' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/ranking.css') }}">
{% endblock %}

{% block title %}Ranking{% endblock %}

{% block content %}
    <div class="row all-restaurants-header">
        <div class="col-lg-12">
            <h1 id="best_restaurants" class="page-header">Top 10 restauracji w&nbspPoznaniu</h1>
        </div>
    </div>
    <div class="table-responsive">
        <table id="ranking-table" class="table">
            <thead>
            <tr>
                <th>Miejsce</th>
                <th>Zdjęcie</th>
                <th>Nazwa restauracji</th>
                <th class="text-center ">Średnia ocen</th>
                <th>Liczba głosów</th>
            </tr>
            </thead>
            <tbody>
            {% set i = 1 %}
            {% for restaurant in top_restaurants %}
                <tr class="text-center">
                    <td class="ranking-place">{{ i }}</td>
                    {% set i = i + 1 %}
                    <td>
                        <img class="restaurant-rank-image" src="{{ asset('build/images/' ~ restaurant.image_url) }}"/>
                    </td>
                    <td>{{ restaurant.name }}</td>
                    <td>
                        <table class="avg-rate-ranking">
                            <tr>
                                <td>
                                    <input class="rating rating-loading"
                                           value="{{ restaurant.avg_rate }}"
                                           data-min="0" data-max="5" data-step="0.01" data-display-only="true"
                                           data-size="xs">
                                </td>
                                <td>
                                    <label class="control-label">{{ restaurant.avg_rate|round(2) }}</label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>{{ restaurant[1] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}