{% extends 'base.html.twig' %}
{% set menu_selected = 'main_page' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/all_restaurants.css') }}">
{% endblock %}

{% block title %}Poznań - gdzie zjeść?{% endblock %}

{% block content %}
    <div class="row all-restaurants-header">
        <div class="col-lg-12">
            <h1 id="best_restaurants" class="page-header">Dobre restauracje w&nbspPoznaniu</h1>
        </div>
    </div>

    <div class="row text-center restaurants-flex-container">
        {% for restaurant in restaurants %}
            <div class="col-md-3 col-sm-6 hero-feature restaurant-flex-item">
                <div class="thumbnail restaurant-thumbnail">
                    <img src="{{ asset('build/images/' ~ restaurant.getImageUrl()) }}" alt="cannot load image" class="restaurant-image">
                    <div class="caption restaurant-caption">
                        <h3>{{ restaurant.getName() }}</h3>
                        <p>{{ restaurant.getShortDescription() }}</p>
                    </div>
                    <a class="btn btn-primary btn-more-info"
                       href="{{ path('restaurant_details', {'restaurant_id': restaurant.getId()}) }}">
                        Więcej informacji
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}