<div class="page-header">
    <h3 class="reviews">Zostaw swoją opinię na temat tego miejsca</h3>
</div>
<div id="add-comment-row">
    <form id="add-comment-form">
        {% block choice_widget_expanded -%}
            <div class="form_rate">
                {%- for child in form.rate %}
                    <input type="radio" id="rate_{{ child.vars.value }}" name="rate"
                           value="{{ child.vars.value }}">
                    <label for="rate_{{ child.vars.value }}" class="required"></label>
                {% endfor -%}
            </div>
        {%- endblock choice_widget_expanded -%}
        <input type="hidden" name="restaurant_id" value="{{ app.request.get('restaurant_id') }}">
        <div class="form-group">
            <textarea class="form-control" name="content" id="new-comment" rows="5"></textarea>
        </div>
        <button class="btn btn-success btn-circle text-uppercase add-comment"
                data-loading-text="<span class='glyphicon glyphicon-refresh spinning'></span> Proszę czekać">
            <span class="glyphicon glyphicon-send"></span>Dodaj komentarz
        </button>
    </form>
</div>
<div id="new-comment-msg" class="alert alert-info row" role="alert">Komentarz został dodany</div>
<div class="row">
    <ul id="comment-list" class="media-list">
        <li id="new-added-comment" class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-circle" src="{{ app.user ? app.user.getAvatarImageSrc() : '' }}">
            </a>
            <div class="media-body">
                <div id="comment-well-new" class="well well-lg comment-well">
                    <div class="comment-header">
                        <div id="star-rate-new-added" class="star-rate">
                            <span class="star glyphicon"></span>
                            <span class="star glyphicon"></span>
                            <span class="star glyphicon"></span>
                            <span class="star glyphicon"></span>
                            <span class="star glyphicon"></span>
                        </div>
                        <div id="star-rate-new-added-edit" class="form_rate star-rate-edit">
                            {%- for i in 5..1 %}
                                <input type="radio" id="star_{id}_{{ i }}" name="star_{id}" value="{{ i }}">
                                <label for="star_{id}_{{ i }}" class="required"></label>
                            {% endfor -%}
                        </div>
                        <div class="media-date reviews">
                            przed chwilą
                        </div>
                    </div>
                    <h4 class="media-heading reviews">{{ app.user ? app.user.username : null }}</h4>
                    <p id="content-new-added" class="media-comment"></p>
                    <textarea id="content-new-added-edit" class="media-comment-edit form-control"></textarea>
                    <div class="button-section">
                        <button type="button" class="btn btn-danger btn-circle text-uppercase edit-comment-btn">
                            <span class="glyphicon glyphicon-edit"></span> Edytuj
                        </button>
                    </div>
                    <div class="button-section-edit">
                        <button type="button" class="submit-edit-btn btn btn-success btn-circle text-uppercase"
                                id="reply"><span class="glyphicon glyphicon-ok"></span> Zatwierdź zmiany
                        </button>
                        <button type="button" class="abort-edit-btn btn btn-danger btn-circle text-uppercase"
                                id="reply"><span class="glyphicon glyphicon-remove"></span> Porzuć
                        </button>
                    </div>
                </div>
            </div>
        </li>
        {% for comment in restaurant.comments %}
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object img-circle" src="{{ comment.author.getAvatarImageSrc() }}">
                </a>
                <div class="media-body">
                    <div data-post-id="{{ comment.getId() }}" class="well well-lg comment-well">
                        <div class="comment-header">
                            <div class="star-rate" style="white-space: nowrap">
                                {% set star_index = 0 %}
                                {% for i in 1..comment.getRate() %}
                                    {% set star_index = i %}
                                    <span class="star glyphicon glyphicon-star"></span>
                                {% endfor %}
                                {% for i in star_index + 1..5 if star_index < 5 %}
                                    <span class="star glyphicon glyphicon-star-empty"></span>
                                {% endfor %}
                            </div>
                            <div class="form_rate star-rate-edit">
                                {%- for child in form.rate %}
                                    <input type="radio" id="star_{{ comment.getId() }}_{{ child.vars.value }}"
                                           name="star_{{ comment.getId() }}"
                                           value="{{ child.vars.value }}" {{ child.vars.value == comment.getRate() ? "checked" : '' }}>
                                    <label for="star_{{ comment.getId() }}_{{ child.vars.value }}"
                                           class="required"></label>
                                {% endfor -%}
                            </div>
                            <div class="media-date text-uppercase reviews list-inline">
                                <span class="posting-date">
                                    {{ comment.getPostingDate() | date("d-m-Y") }}
                                </span>
                                <span class="posting-date">
                                    {{ comment.getPostingDate() | date("H:i") }}
                                </span>
                            </div>
                        </div>
                        <h4 class="media-heading reviews">{{ comment.author.username }}</h4>
                        <p class="media-comment">{{ comment.getContent() }}</p>
                        <textarea class="media-comment-edit form-control">{{ comment.getContent() }}</textarea>
                        <div class="button-section">
                            {% if app.user and app.user.username == comment.author.username
                                and comment.getPostingDate().timestamp > date().timestamp - 60 %}
                                <button type="button" class="btn btn-danger btn-circle text-uppercase
                                    edit-comment-btn"><span class="glyphicon glyphicon-edit"></span> Edytuj
                                </button>
                            {% endif %}
                            <a href="#reply-block-{{ comment.getId() }}"
                               class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse">
                                <span class="glyphicon glyphicon-comment"></span> {{ comment.getReplies().count() }}
                                komentarzy
                            </a>
                        </div>
                        <div class="button-section-edit">
                            <button type="button" class="submit-edit-btn btn btn-success btn-circle text-uppercase"
                                    id="reply"><span class="glyphicon glyphicon-ok"></span> Zatwierdź zmiany
                            </button>
                            <button type="button" class="abort-edit-btn btn btn-danger btn-circle text-uppercase"
                                    id="reply"><span class="glyphicon glyphicon-remove"></span> Porzuć
                            </button>
                        </div>
                    </div>
                </div>

                <div class="media-list collapse" id="reply-block-{{ comment.getId() }}">
                    {% for reply in comment.getReplies() %}
                        <div class="media media-replied">
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="{{ reply.author.getAvatarImageSrc() }}"
                                     alt="cannot load image">
                            </a>
                            <div class="media-body">
                                <div class="well well-lg">
                                    <div class="reviews">
                                        <span class="h4 reviews">
                                            <span class="glyphicon glyphicon-share-alt"></span> {{ reply.author.getUsername() }}
                                        </span>
                                        <p class="list-inline pull-right reviews">
                                            <span class="posting-date">{{ reply.getPostingDate() | date("d-m-Y") }}</span>
                                            <span class="posting-date">{{ reply.getPostingDate() | date("H:i") }}</span>
                                        </p>
                                    </div>
                                    <p class="media-comment">{{ reply.getContent() }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if app.user %}
                        <div class="media media-replied">
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="{{ app.user.getAvatarImageSrc() }}"
                                     alt="cannot load image">
                            </a>
                            <div class="media-body new-reply">
                                <div class="well well-lg">
                                    <h4 class="media-heading reviews">
                                        <span class="glyphicon glyphicon-share-alt"></span> {{ app.user.getUsername() }}
                                    </h4>
                                    <form class="add-reply-form">
                                        <div class="form-group">
                                            <input type="hidden" name="comment_id" value="{{ comment.getId() }}"/>
                                            <textarea name="content" class="form-control" rows="5"></textarea>
                                        </div>
                                        <button class="btn btn-primary btn-circle text-uppercase add-reply"
                                                data-loading-text="<span class='glyphicon glyphicon-refresh spinning'></span> Proszę czekać">
                                            <span class="glyphicon glyphicon-share-alt"></span>Odpowiedz
                                        </button>
                                    </form>
                                    <div class="newly-added-reply">
                                        <div class="media-date reviews">
                                            przed chwilą
                                        </div>
                                        <p class="media-comment new-reply-content"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </li>
        {% endfor %}
    </ul>
</div>