{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/restaurant_details.css') }}"
{% endblock %}

{% block title %}{{ restaurant.name }}{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-3">
            <p class="lead">{{ restaurant.name }}</p>
            <div class="list-group">
                <a href="#" class="list-group-item active">Opis</a>
                <a href="#" class="list-group-item">Nagrody</a>
                <a href="#" class="list-group-item">Opinie</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="thumbnail restaurant-details-thumbnail">
                <img class="img-responsive" src="{{ asset('build/images/' ~ restaurant.getImageUrl()) }}" alt="cannot load image">
                <div class="caption-full">
                    <br />
                    <p class="restaurant-description">{{ restaurant.description }}</p>
                </div>
            </div>

            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success">Wystaw opinię</a>
                </div>
                <hr>

                {% for comment in restaurant.comments %}
                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {{ comment.getAuthor() }}
                            <span class="pull-right">{{ comment.getPostingDate()|date("m/d/Y") }}</span>
                            <p>{{ comment.getContent() }}</p>
                        </div>
                    </div>
                {% endfor %}
                {#<hr>#}

                {#<div class="row">#}
                    {#<div class="col-md-12">#}
                        {#<span class="glyphicon glyphicon-star"></span>#}
                        {#<span class="glyphicon glyphicon-star"></span>#}
                        {#<span class="glyphicon glyphicon-star"></span>#}
                        {#<span class="glyphicon glyphicon-star"></span>#}
                        {#<span class="glyphicon glyphicon-star-empty"></span>#}
                        {#Anonymous#}
                        {#<span class="pull-right">12 days ago</span>#}
                        {#<p>I've alredy ordered another one!</p>#}
                    {#</div>#}
                {#</div>#}

                {#<hr>#}

                {#<div class="row">#}
                    {#<div class="col-md-12">#}
                        {#<span class="glyphicon glyphicon-star"></span>#}
                        {#<span class="glyphicon glyphicon-star"></span>#}
                        {#<span class="glyphicon glyphicon-star"></span>#}
                        {#<span class="glyphicon glyphicon-star"></span>#}
                        {#<span class="glyphicon glyphicon-star-empty"></span>#}
                        {#Anonymous#}
                        {#<span class="pull-right">15 days ago</span>#}
                        {#<p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>#}
                    {#</div>#}

                </div>
            </div>
        </div>
    </div>
{% endblock %}