{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/restaurant_details.css') }}">
{% endblock %}

{% block title %}{{ restaurant.name }}{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-3">
            <p class="lead">{{ restaurant.name }}</p>
            <div class="list-group">
                <a href="#" class="list-group-item active">Opis</a>
                <a href="#" class="list-group-item">Nagrody</a>
                <a href="#" class="list-group-item">Opinie</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="thumbnail restaurant-details-thumbnail">
                <img class="img-responsive" src="{{ asset('build/images/' ~ restaurant.getImageUrl()) }}"
                     alt="cannot load image">
                <div class="caption-full">
                    <br/>
                    <p class="restaurant-description">{{ restaurant.description }}</p>
                </div>
            </div>

            <div class="well comments-well">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form, { 'attr': {'id': 'add-comment-form'} }) }}
                {% block choice_widget_expanded -%}
                    <div id="form_rate">
                        {%- for child in form.rate %}
                            <input type="radio" id="form_rate_{{ child.vars.value }}" name="form-rate"
                                   value="{{ child.vars.value }}">
                            <label for="form_rate_{{ child.vars.value }}" class="required"></label>
                        {% endfor -%}
                    </div>
                {%- endblock choice_widget_expanded -%}
                {{ form_errors(form.rate) }}

                {{ form_widget(form.content) }}
                {{ form_errors(form.content) }}
                <br/>
                <button id="add-review" class="btn btn-success" type="button">Wystaw opinię</button>
                {{ form_end(form.content) }}

                {% for comment in restaurant.comments %}
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            {% set star_index = 0 %}
                            {% for i in 1..comment.getRate() %}
                                {% set star_index = i %}
                                <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                            {% for i in star_index + 1..5 if star_index < 5 %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                            {% endfor %}
                            {{ comment.getAuthor() }}
                            <span class="pull-right">{{ comment.getPostingDate() | date("m-d-Y H:i:s") }}</span>
                            <p>{{ comment.getContent() }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#add-review").click(function () {
                let content = $('#form_content').val();
                let rate = $('input[name=form-rate]:checked').val();
                let rateHTML = '<span class="glyphicon glyphicon-star"></span> '.repeat(rate);
                rateHTML += '<span class="glyphicon glyphicon-star-empty"></span> '.repeat(5 - rate);
                $.ajax({
                    url: '/restaurants/{{ app.request.get('restaurant_id') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        rate: rate,
                        content: content,
                    },
                    success: function (data, status) {
                        $('#add-comment-form').remove();
                        $('.comments-well').prepend(
                            '<hr>' +
                            '<div class=\"row\">' +
                            '   <div class=\"col-md-12\">' +
                                rateHTML +
                                " Anonymous" +
                            '   <span class=\"pull-right\">przed chwilą</span>' +
                            '       <p>' + content + '</p>' +
                            '   </div>' +
                            '</div>');
                    }
                });
            });
        });
    </script>
{% endblock %}