{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/restaurant_details.css') }}">
{% endblock %}

{% block title %}{{ restaurant.name }}{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-3">
            <p class="lead">{{ restaurant.name }}</p>
            <div class="list-group">
                <a href="#" class="list-group-item active">Opis</a>
                <a href="#" class="list-group-item">Nagrody</a>
                <a href="#" class="list-group-item">Opinie</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="thumbnail restaurant-details-thumbnail">
                <img class="img-responsive" src="{{ asset('build/images/' ~ restaurant.getImageUrl()) }}" alt="cannot load image">
                <div class="caption-full">
                    <br />
                    <p class="restaurant-description">{{ restaurant.description }}</p>
                </div>
            </div>

            <div class="well comments-well">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}
                <div id="form_rate">
                    <input type="radio" id="form_rate_4" name="form[rate]" required="required" value="5">
                    <label for="form_rate_4" class="required"></label>
                    <input type="radio" id="form_rate_3" name="form[rate]" required="required" value="4">
                    <label for="form_rate_3" class="required"></label>
                    <input type="radio" id="form_rate_2" name="form[rate]" required="required" value="3">
                    <label for="form_rate_2" class="required"></label>
                    <input type="radio" id="form_rate_1" name="form[rate]" required="required" value="2">
                    <label for="form_rate_1" class="required"></label>
                    <input type="radio" id="form_rate_0" name="form[rate]" required="required" value="1">
                    <label for="form_rate_0" class="required"></label>
                </div>
                {{ form_widget(form.content) }}
                <div class="text-right">
                    <a class="btn btn-success" type="submit">Wystaw opinię</a>
                </div>
                {{ form_end(form) }}

                {% for comment in restaurant.comments %}
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            {% set star_index = 0 %}
                            {% for i in 1..comment.getRate() %}
                                {% set star_index = i %}
                                <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                            {% for i in star_index + 1..5 if star_index < 5 %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                            {% endfor %}
                            {{ comment.getAuthor() }}
                            <span class="pull-right">{{ comment.getPostingDate() | date("m-d-Y H:i:s") }}</span>
                            <p>{{ comment.getContent() }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}