{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/restaurant_details.css') }}"
{% endblock %}

{% block title %}DETAILS {{restaurant.getId()}}{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">{{ restaurant.name }}</h1>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Opis</a>
                    <a href="#" class="list-group-item">Nagroda</a>
                    <a href="#" class="list-group-item">Opinie społeczności</a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="{{ asset('build/images/' ~ restaurant.getImageUrl()) }}" alt="cannot load image">
                    <div class="card-body">
                        <br />
                        <p class="card-text">{{ restaurant.description }}</p>
                    </div>
                </div>
            </div>
{% endblock %}