{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/restaurant_details.css') }}"
{% endblock %}

{% block title %}{{ restaurant.name }}{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-3">
            <p class="lead">{{ restaurant.name }}</p>
            <div class="list-group">
                <a href="#" class="list-group-item active">Opis</a>
                <a href="#" class="list-group-item">Nagrody</a>
                <a href="#" class="list-group-item">Opinie</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="thumbnail restaurant-details-thumbnail">
                <img class="img-responsive" src="{{ asset('build/images/' ~ restaurant.getImageUrl()) }}" alt="cannot load image">
                <div class="caption-full">
                    <br />
                    <p class="restaurant-description">{{ restaurant.description }}</p>
                </div>
            </div>

            <div class="well">
                <form>
                    <div class="form-group">
                        <span class="star-cb-group">
      <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
      <input type="radio" id="rating-4" name="rating" value="4" checked="checked" /><label for="rating-4">4</label>
      <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
      <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
      <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
      <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
    </span>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-success">Wystaw opinię</a>
                    </div>
                </form>

                {% for comment in restaurant.comments %}
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            {% set star_index = 0 %}
                            {% for i in 1..comment.getRate() %}
                                {% set star_index = i %}
                                <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                            {% for i in star_index + 1..5 if star_index < 5 %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                            {% endfor %}
                            {{ comment.getAuthor() }}
                            <span class="pull-right">{{ comment.getPostingDate() | date("m-d-Y H:i:s") }}</span>
                            <p>{{ comment.getContent() }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}