{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/restaurant_index.css') }}"
{% endblock %}

{% block title %}View restaurants{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Najlepsze restauracje w Poznaniu</h1>
        </div>
    </div>

    <div class="row text-center restaurants-flex-container">
        {% for restaurant in restaurants %}
            <div class="col-md-3 col-sm-6 hero-feature restaurant-flex-item">
                <div class="thumbnail restaurant-thumbnail">
                    <img src="{{ asset('build/images/' ~ restaurant.getImageUrl()) }}" alt="cannot load image" class="restaurant-image">
                    <div class="caption restaurant-caption">
                        <h3>{{ restaurant.getName() }}</h3>
                        <p>{{ restaurant.getShortDescription() }}</p>
                    </div>
                    <a class="btn btn-primary btn-more-info"
                        href="{{ path('restaurant_details', {'restaurant_id': restaurant.getId()}) }}"
                        class="btn btn-default">Więcej informacji
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}