{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/restaurant.css') }}">
{% endblock %}

{% block title %}{{ restaurant.name }}{% endblock %}

{% block content %}
    <div id="restaurant-details" data-logged-user="{{ app.user ? app.user.username : null }}"
         data-restaurant-id="{{ app.request.get('restaurant_id') }}" class="row">

        <div class="col-md-3">
            <p id="restaurant-lead" class="lead">{{ restaurant.name }}</p>
            <div class="list-group">
                <a href="#" class="list-group-item active">Opis</a>
                <a href="#" class="list-group-item">Nagrody</a>
                <a href="#" class="list-group-item">Opinie</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="thumbnail restaurant-details-thumbnail">
                <img class="img-responsive" src="{{ asset('build/images/' ~ restaurant.getImageUrl()) }}"
                     alt="cannot load image">
                <div class="caption-full">
                    <br />
                    <p class="restaurant-description">{{ restaurant.description }}</p>
                </div>
            </div>
            {% include 'Restaurant/rating_stats.html.twig' %}
            {% include 'Restaurant/comment_box.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/restaurant.js') }}"></script>
{% endblock %}