<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/global.css') }}"></link>
    <link rel="stylesheet" href="{{ asset('build/footer.css') }}"></link>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'navbar.html.twig' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% include 'footer.html.twig' %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>