<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Test Application{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'Security/forgot_password_modal.html.twig' %}
    {% block modals %}{% endblock %}
    {% include 'navbar.html.twig' %}
    <div id="preloader">
        <img src="{{ asset('build/images/throbber.gif') }}">
    </div>
    <div>
        {% block header %}{% endblock %}
    </div>
    <div id="global-container" class="container">
        {% block content %}{% endblock %}
    </div>
    {% include 'footer.html.twig' %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/global.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>