<div class="page-header">
    <h3 class="reviews">Zostaw swoją opinię na temat tego miejsca</h3>
</div>
<div id="add-comment-row">
    <form id="commentForm" role="form">
        {% block choice_widget_expanded -%}
            <div class="form_rate">
                {%- for child in form.rate %}
                    <input type="radio" id="form_rate_{{ child.vars.value }}" name="form-rate"
                           value="{{ child.vars.value }}">
                    <label for="form_rate_{{ child.vars.value }}" class="required"></label>
                {% endfor -%}
            </div>
        {%- endblock choice_widget_expanded -%}
        <div class="form-group">
            <div>
                <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
            </div>
        </div>
        <button class="btn btn-success btn-circle text-uppercase" type="button"
                id="add-review"><span class="glyphicon glyphicon-send"></span>Dodaj komentarz
        </button>
    </form>
</div>
<div id="new-comment-msg" class="alert alert-info row" role="alert">Komentarz został dodany</div>
<div class="row">
    <ul id="comment-list" class="media-list">
        <li id="new-added-comment" class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-circle" src="{{ app.user ? asset(app.user.getAvatarPath()) : '' }}">
            </a>
            <div class="media-body">
                <div class="well well-lg newly-added">
                    <div class="comment-header">
                        <div id="star-rate-new-added" class="star-rate">
                            <span class="glyphicon"></span>
                            <span class="glyphicon"></span>
                            <span class="glyphicon"></span>
                            <span class="glyphicon"></span>
                            <span class="glyphicon"></span>
                        </div>
                        <div class="media-date reviews">
                            przed chwilą
                        </div>
                    </div>
                    <h4 class="media-heading reviews">{{ app.user ? app.user.username : null }}</h4>
                    <p id="content-new-added" class="media-comment"></p>
                    <div class="button-section">
                        <button type="button" class="btn btn-danger btn-circle text-uppercase
                                        edit-comment-btn"><span class="glyphicon glyphicon-edit"></span> Edytuj
                        </button>
                        <button type="button" class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse"
                                href="#"><span class="glyphicon glyphicon-comment"></span> 0 komentarzy
                        </button>
                    </div>
                </div>
            </div>
        </li>
        {% for comment in restaurant.comments %}
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object img-circle" src="{{ asset(comment.author.getAvatarPath()) }}">
                </a>
                <div class="media-body">
                    <div data-post-id="{{ comment.getId() }}" class="well well-lg comment-well">
                        <div class="comment-header">
                            <div class="star-rate">
                                {% set star_index = 0 %}
                                {% for i in 1..comment.getRate() %}
                                    {% set star_index = i %}
                                    <span class="star glyphicon glyphicon-star"></span>
                                {% endfor %}
                                {% for i in star_index + 1..5 if star_index < 5 %}
                                    <span class="star glyphicon glyphicon-star-empty"></span>
                                {% endfor %}
                            </div>
                            <div class="form_rate star-rate-edit">
                                {%- for child in form.rate %}
                                    <input type="radio" id="star_{{ comment.getId() }}_{{ child.vars.value }}" name="star_{{ comment.getId() }}"
                                           value="{{ child.vars.value }}" {{ child.vars.value == comment.getRate() ? "checked" : ''  }}>
                                    <label for="star_{{ comment.getId() }}_{{ child.vars.value }}" class="required"></label>
                                {% endfor -%}
                            </div>
                            <div class="media-date text-uppercase reviews list-inline">
                                {{ comment.getPostingDate() | date("d-m-Y H:i") }}
                            </div>
                        </div>
                        <h4 class="media-heading reviews">{{ comment.author.username }}</h4>
                        <p class="media-comment">{{ comment.getContent() }}</p>
                        <textarea class="media-comment-edit form-control">{{ comment.getContent() }}</textarea>
                        <div class="button-section">
                            {% if app.user and app.user.username != comment.author.username %}
                                <button type="button" class="btn btn-primary btn-circle text-uppercase"
                                        id="reply"><span class="glyphicon glyphicon-share-alt"></span> Odpowiedz
                                </button>
                            {% endif %}
                            {% if app.user and app.user.username == comment.author.username
                                and comment.getPostingDate().timestamp > date().timestamp - 60 %}
                                <button type="button" class="btn btn-danger btn-circle text-uppercase
                                    edit-comment-btn"><span class="glyphicon glyphicon-edit"></span> Edytuj
                                </button>
                            {% endif %}
                            <button type="button" class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse"
                               href="#"><span class="glyphicon glyphicon-comment"></span> 0 komentarzy
                            </button>
                        </div>
                        <div class="button-section-edit">
                            <button type="button" class="submit-edit-btn btn btn-success btn-circle text-uppercase"
                                    id="reply"><span class="glyphicon glyphicon-ok"></span> Zatwierdź zmiany</button>
                            <button type="button" class="abort-edit-btn btn btn-danger btn-circle text-uppercase"
                                    id="reply"><span class="glyphicon glyphicon-remove"></span> Porzuć</button>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        <li class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-circle"
                     src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg" alt="profile">
            </a>
            <div class="media-body">
                <div class="well well-lg">
                    <h4 class="media-heading text-uppercase reviews">Marco </h4>
                    <ul class="media-date text-uppercase reviews list-inline">
                        <li class="dd">22</li>
                        <li class="mm">09</li>
                        <li class="aaaa">2014</li>
                    </ul>
                    <p class="media-comment">
                        Great snippet! Thanks for sharing.
                    </p>
                    <a class="btn btn-primary btn-circle text-uppercase" href="#" id="reply"><span
                                class="glyphicon glyphicon-share-alt"></span> Odpowiedz</a>
                    <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse"
                       href="#replyOne"><span class="glyphicon glyphicon-comment"></span> 2 komentarze</a>
                </div>
            </div>
            <div class="collapse" id="replyOne">
                <ul class="media-list">
                    <li class="media media-replied">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle"
                                 src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/128.jpg"
                                 alt="profile">
                        </a>
                        <div class="media-body">
                            <div class="well well-lg">
                                <h4 class="media-heading text-uppercase reviews"><span
                                            class="glyphicon glyphicon-share-alt"></span> The Hipster</h4>
                                <ul class="media-date text-uppercase reviews list-inline">
                                    <li class="dd">22</li>
                                    <li class="mm">09</li>
                                    <li class="aaaa">2014</li>
                                </ul>
                                <p class="media-comment">
                                    Nice job Maria.
                                </p>
                                <a class="btn btn-primary btn-circle text-uppercase" href="#" id="reply"><span
                                            class="glyphicon glyphicon-share-alt"></span> Odpowiedz</a>
                            </div>
                        </div>
                    </li>
                    <li class="media media-replied" id="replied">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle"
                                 src="https://pbs.twimg.com/profile_images/442656111636668417/Q_9oP8iZ.jpeg"
                                 alt="profile">
                        </a>
                        <div class="media-body">
                            <div class="well well-lg">
                                <h4 class="media-heading text-uppercase reviews"><span
                                            class="glyphicon glyphicon-share-alt"></span> Mary</h4></h4>
                                <ul class="media-date text-uppercase reviews list-inline">
                                    <li class="dd">22</li>
                                    <li class="mm">09</li>
                                    <li class="aaaa">2014</li>
                                </ul>
                                <p class="media-comment">
                                    Thank you Guys!
                                </p>
                                <a class="btn btn-primary btn-circle text-uppercase" href="#" id="reply"><span
                                            class="glyphicon glyphicon-share-alt"></span> Odpowiedz</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-circle"
                     src="https://s3.amazonaws.com/uifaces/faces/twitter/lady_katherine/128.jpg" alt="profile">
            </a>
            <div class="media-body">
                <div class="well well-lg">
                    <h4 class="media-heading text-uppercase reviews">Kriztine</h4>
                    <ul class="media-date text-uppercase reviews list-inline">
                        <li class="dd">22</li>
                        <li class="mm">09</li>
                        <li class="aaaa">2014</li>
                    </ul>
                    <p class="media-comment">
                        Yehhhh... Thanks for sharing.
                    </p>
                    <a class="btn btn-primary btn-circle text-uppercase" href="#" id="reply"><span
                                class="glyphicon glyphicon-share-alt"></span> Odpowiedz</a>
                    <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse"
                       href="#replyTwo"><span class="glyphicon glyphicon-comment"></span> 1 komentarz</a>
                </div>
            </div>
            <div class="collapse" id="replyTwo">
                <ul class="media-list">
                    <li class="media media-replied">
                        <a class="pull-left" href="#">
                            <img class="media-object img-circle"
                                 src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg"
                                 alt="profile">
                        </a>
                        <div class="media-body">
                            <div class="well well-lg">
                                <h4 class="media-heading text-uppercase reviews"><span
                                            class="glyphicon glyphicon-share-alt"></span> Lizz</h4>
                                <ul class="media-date text-uppercase reviews list-inline">
                                    <li class="dd">22</li>
                                    <li class="mm">09</li>
                                    <li class="aaaa">2014</li>
                                </ul>
                                <p class="media-comment">
                                    Classy!
                                </p>
                                <a class="btn btn-primary btn-circle text-uppercase" href="#" id="reply"><span
                                            class="glyphicon glyphicon-share-alt"></span> Odpowiedz</a>
                                <a class="btn btn-danger btn-circle text-uppercase" href="#" id="edit"><span
                                            class="glyphicon glyphicon-edit"></span> Edytuj</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>