<nav id="navbar-menu" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('all_restaurants') }}">FoodRank</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if menu_selected|default('') == 'main_page' %}class="active"{% endif %}>
                    <a href="{{ path('all_restaurants') }}">Strona główna</a>
                </li>
                <li {% if menu_selected|default('') == 'ranking' %}class="active"{% endif %}>
                    <a href="{{ path('ranking') }}">Ranking</a>
                </li>
                <li {% if menu_selected|default('') == 'propose_restaurant' %}class="active"{% endif %}>
                    <a href="{{ path('propose_restaurant') }}">Zgłoś restaurację</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user == NULL %}
                    <li>
                        <p class="navbar-text navbar-have-account">Masz konto?</p>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Zaloguj się</b>
                            <span class="caret"></span>
                        </a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% include 'Security/login_navbar.html.twig' %}
                                    </div>
                                    <div class="bottom text-center">
                                        Nie masz konta? <a href="{{ path('registration') }}"><b>Załóż je</b></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ app.user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('profile') }}">Profil użytkownika</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{{ path('logout') }}">Wyloguj się</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>