{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/user_profile.css') }}">
{% endblock %}

{% block title %}Mój profil{% endblock %}

{% block content %}
    <section class="dashboard section">
        <div id="upload-avatar-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div id="avatar-errors" class="center-block"></div>
                        <form action="{{ path('change_avatar') }}" method="post" enctype="multipart/form-data">
                            <input id="avatar-input" name="file" type="file">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                <div>
                    <div class="widget user-dashboard-profile">
                        <div class="profile-thumb">
                            <img id="avatar_img" src="{{ asset(app.user.getAvatarPath()) }}" class="rounded-circle">
                        </div>
                        <h5 class="text-center">{{ app.user.username }}</h5>
                        <p id="user-rank">Nowicjusz</p>
                        <button type="button" id="change-avatar-btn" class="btn btn-primary"
                           data-toggle="modal" data-target="#upload-avatar-modal">Zmień awatar
                        </button>
                    </div>
                    <div class="widget user-dashboard-menu">
                        <ul id="user-profile-menu">
                            <li class="active">
                                <a href=""><i class="fa fa-user"></i>Moje opinie<span>34</span></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-bookmark-o"></i>Preferencje</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-file-archive-o"></i>Ustawienia</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-file-archive-o"></i>Zmień hasło</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-cog"></i> Wyloguj się</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-power-off"></i>Usuń konto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                <div class="widget dashboard-container">
                    <table class="table table-responsive comments-table">
                        <thead>
                            <tr>
                                <th>Zdjęcie</th>
                                <th>Restauracja</th>
                                <th>Treść komentarza</th>
                                <th>Czas dodania</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td>
                                        <img class="restaurant-thumb-img"
                                             src="{{ asset('build/images/' ~ comment.getRestaurant().getImageUrl()) }}"
                                             alt="cannot load image">
                                    </td>
                                    <td>
                                        {{ comment.getRestaurant().getName() }}
                                    </td>
                                    <td>
                                        {{ comment.getContent() }}
                                    </td>
                                    <td>
                                        {{ comment.getPostingDate() | date("d/m/Y H:i:s") }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/user_profile.js') }}"></script>
{% endblock %}