{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/user_profile.css') }}">
{% endblock %}

{% block title %}Mój profil{% endblock %}

{% block content %}
    <section class="dashboard section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                    <div class="sidebar">
                        <div class="widget user-dashboard-profile">
                            <div class="profile-thumb">
                                <img src="{{ asset('build/images/user-thumb.jpg') }}" alt="" class="rounded-circle">
                            </div>
                            <h5 class="text-center">{{ app.user.username }}</h5>
                            <p>Nowicjusz</p>
                            <a href="user-profile.html" class="btn btn-main-sm">Edytuj profil</a>
                        </div>
                        <div class="widget user-dashboard-menu">
                            <ul>
                                <li class="active"><a href=""><i class="fa fa-user"></i>Moje opinie</a></li>
                                <li><a href=""><i class="fa fa-bookmark-o"></i>Preferencje<span>5</span></a></li>
                                <li><a href=""><i class="fa fa-file-archive-o"></i>Ustawienia<span>12</span></a></li>
                                <li><a href=""><i class="fa fa-cog"></i> Wyloguj się</a></li>
                                <li><a href=""><i class="fa fa-power-off"></i>Usuń konto</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                    <div class="widget dashboard-container my-adslist">
                        <table class="table table-responsive product-dashboard-table">
                            <thead>
                            <tr>
                                <th>Zdjęcie</th>
                                <th>Restauracja</th>
                                <th>Treść komentarza</th>
                                <th>Czas dodania</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment in comments %}
                            <tr>
                                <td class="product-thumb">
                                    <img width="80px" height="auto" src="{{ asset('build/images/' ~ comment.getRestaurant().getImageUrl()) }}"
                                         alt="image description"></td>
                                <td class="product-category"><span class="categories">{{ comment.getRestaurant().getName() }}</span></td>
                                <td class="product-details">
                                    {{ comment.getContent() }}
                                </td>
                                <td class="action" data-title="Action">
                                    {{ comment.getPostingDate() | date("d/m/Y H:i:s") }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}