{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/user_profile.css') }}">
{% endblock %}

{% block title %}Mój profil{% endblock %}

{% block content %}
    <section id="user-profile-section">
        <div id="upload-avatar-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div id="avatar-errors" class="center-block"></div>
                        <form action="{{ path('change_avatar') }}" method="post" enctype="multipart/form-data">
                            <input id="avatar-input" name="file" type="file">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div>
                    <div class="widget user-dashboard-profile">
                        <div class="profile-thumb">
                            <img id="avatar_img" src="{{ asset(app.user.getAvatarPath()) }}" class="rounded-circle">
                        </div>
                        <h5 class="text-center">{{ app.user.username }}</h5>
                        <p id="user-rank">Nowicjusz</p>
                        <button type="button" id="change-avatar-btn" class="btn btn-primary"
                                data-toggle="modal" data-target="#upload-avatar-modal">Zmień awatar
                        </button>
                    </div>
                    <div class="widget user-dashboard-menu">
                        <ul id="user-profile-menu">
                            <li id="tab-my-comments" class="active">
                                <a href="javascript:void(0)"><i class="fa fa-user"></i>Moje komentarze<span>34</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fa fa-bookmark-o"></i>Preferencje</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fa fa-file-archive-o"></i>Ustawienia</a>
                            </li>
                            <li id="tab-change-password">
                                <a href="javascript:void(0)"><i class="fa fa-file-archive-o"></i>Zmień hasło</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="fa fa-cog"></i> Wyloguj się</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#delete-account-modal"><i class="fa fa-power-off"></i>Usuń konto</a>
                                <div class="modal fade" id="delete-account-modal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="modal-title">Usuwanie konta w serwisie FoodRank</h2>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <span>&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p id="delete-account-warning">Czy na pewno chcesz usunąć konto? Ta czynność jest nieodwracalna.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                                <a href="{{ path('delete_account') }}" id="delete-account-link" class="btn btn-danger">Tak, usuń konto</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab active tab-my-comments col-lg-8">
                <h1 id="my-comments-header" class="text-center">Moje komentarze</h1>
                <div class="table-responsive">
                    <table id="comments-table" class="table">
                        <thead>
                        <tr>
                            <th class="text-center">Treść komentarza</th>
                            <th class="text-center">Czas dodania</th>
                            <th class="text-center">Restauracja</th>
                            <th class="text-center">Zdjęcie</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>
                                    {{ comment.getContent() }}
                                </td>
                                <td class="text-center">
                                    {{ comment.getPostingDate() | date("d/m/Y H:i:s") }}
                                </td>
                                <td class="text-center">
                                    {{ comment.getRestaurant().getName() }}
                                </td>
                                <td>
                                    <img class="restaurant-thumb-img center-block"
                                         src="{{ asset('build/images/' ~ comment.getRestaurant().getImageUrl()) }}"
                                         alt="cannot load image">
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab tab-change-password col-lg-8">
                <form id="change-password-form" class="form">
                    <h1>Zmiana hasła do serwisu FoodRank</h1>
                    <div class="form-group">
                        <label for="old-password">Podaj stare hasło</label>
                        <input type="password" class="form-control" id="old-password" required>
                    </div>
                    <div class="form-group">
                        <label for="new-password">Podaj nowe hasło</label>
                        <input type="password" class="form-control" id="new-password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Zmień hasło</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/user_profile.js') }}"></script>
{% endblock %}